.spaced-header{
    
    margin-bottom: 115px;
}

::ng-deep .mat-card-header-text {
    
    margin-left: 20px!important;
}

.fixed-header {
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100px;
    width: 100%  !important;
  }

.card-spacer{
    
    margin-bottom: 2px;
}
  
.header-image {
    
    background-size: cover;
    height: 60px;
    width: 60px;
}

.search-form {
    width: 100%;
  }

.search-input {
    width: 100%;
}