<div class="spaced-header">
  <mat-toolbar class="fixed-header">
    <mat-form-field class="search-input">
      <input matInput placeholder="Search for recipes" type="search" [(ngModel)]="searchText">
    </mat-form-field>
  </mat-toolbar>
</div>
<div>
  <mat-card class="card-spacer" *ngFor="let recipe of recipePuppyDataList | recipefilter : searchText">
    <mat-card-header *ngIf="recipePuppyDataList.lenght != 0">
      <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + recipe.thumbnail + ')'}"></div>
      <mat-card-title>{{recipe.title}}</mat-card-title>
      <mat-card-subtitle>Ingredients: {{recipe.ingredients}}.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header *ngIf="recipePuppyDataList.lenght == 0">
      There's no recipes for you today :(
    </mat-card-header>
   
  </mat-card>
</div>